In [1]:
import pandas as pd

In [57]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/'
url= f'{prefix}taxi_zone_lookup.csv'
taxi_zones_df = pd.read_csv(url)
taxi_zones_df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [45]:
df = pd.read_parquet('green_tripdata_2025-11.parquet')
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [46]:
len(df)

46912

In [47]:
df.describe()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
count,46912.000000,46912,46912,41343.000000,46912.000000,46912.000000,41343.000000,46912.000000,46912.000000,46912.000000,46912.000000,46912.000000,46912.000000,0.0,46912.000000,46912.000000,41343.000000,41342.000000,41343.000000,46912.000000
mean,2.240621,2025-11-15 20:09:38.177417,2025-11-15 20:30:49.202123,1.245193,97.521849,143.066678,1.290666,27.581932,17.260303,0.796294,0.556329,2.629329,0.273442,NaN,0.930615,25.193228,1.246209,1.055416,0.884061,0.064893
min,1.000000,2025-10-26 20:23:16,2025-10-26 20:31:18,1.000000,1.000000,1.000000,0.000000,0.000000,-150.000000,-2.500000,-0.500000,-0.900000,0.000000,NaN,-1.000000,-151.000000,1.000000,1.000000,-2.750000,-0.750000
25%,2.000000,2025-11-08 13:15:22.250000,2025-11-08 13:33:41,1.000000,74.000000,75.000000,1.000000,1.280000,9.000000,0.000000,0.500000,0.000000,0.000000,NaN,1.000000,14.840000,1.000000,1.000000,0.000000,0.000000
50%,2.000000,2025-11-15 18:51:45,2025-11-15 19:08:39.500000,1.000000,75.000000,140.000000,1.000000,2.070000,13.500000,0.000000,0.500000,2.080000,0.000000,NaN,1.000000,20.300000,1.000000,1.000000,0.000000,0.000000
75%,2.000000,2025-11-22 17:53:09.250000,2025-11-22 18:13:35.500000,1.000000,116.000000,230.000000,1.000000,3.660000,19.800000,1.000000,0.500000,3.920000,0.000000,NaN,1.000000,29.620000,1.000000,1.000000,2.750000,0.000000
max,6.000000,2025-12-01 20:29:00,2025-12-01 20:44:42,99.000000,265.000000,265.000000,9.000000,172273.800000,990.000000,10.000000,1.500000,122.100000,108.000000,NaN,1.000000,991.000000,5.000000,2.000000,2.750000,0.750000
std,1.169630,NaN,NaN,1.062821,56.622102,77.362396,0.897942,1386.578884,17.284706,1.364010,0.319524,3.411468,1.512830,NaN,0.233187,19.312283,0.460969,0.228793,1.285098,0.211081

In [59]:
df.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [48]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [62]:
print(pd.io.sql.get_schema(taxi_zones_df, name='taxi_zones', con=engine))

CREATE TABLE taxi_zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [63]:
df.head(0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')
taxi_zones_df.head(0).to_sql(name='taxi_zones_data', con=engine, if_exists='replace')

0

In [65]:
taxi_zones_df.to_sql(name='taxi_zones_data', con=engine, if_exists='append')
df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

912

In [ ]:
df